VITE_FIREBASE_API_KEY=AIzaSyDNhuYlD1YKOWFCLFLbQR7aypQCTFY64HA
VITE_FIREBASE_AUTH_DOMAIN=healthagentforms.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=healthagentforms
VITE_FIREBASE_STORAGE_BUCKET=healthagentforms.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=558585725380
VITE_FIREBASE_APP_ID=1:558585725380:web:78546123bcdef
VITE_BOOTSTRAP_ADMINS=gmellobkp@gmail.com
